label{
    font-size: larger;
}

h1{
    margin: 0;
}

.header{
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.navbar{
    padding: 0rem 1rem !important;
    text-align: left; 
}


